<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freal Home</title>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <link href="../../static/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/swiper-bundle.min.css" />

    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/vendor/font-awesome/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="../../static/vendor/font-awesome/css/vendor.bundle.base.css" />
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../static/js/jquery.dataTables.min.js" />
    <link rel="stylesheet" href="../../static/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Assets/css/toastr.min.css" />
    <script src="../../static/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/HomeFreal.main.css" />
    <!-- End layout styles -->
    <script src="https://kit.fontawesome.com/99cbdec5b3.js" crossorigin="anonymous"></script>
    <!-- shortcut -->
    <link rel="shortcut icon" href="../../static/images/logo.png" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo">
        <img src="../../static/images/logo.png" alt="Freal Logo" />
        <span>Freal</span>
      </div>
      <div class="search-bar">
        <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" placeholder="Explore Freal..." />
      </div>
      <div class="navigation">
        <ul>
          <li>
            <a href="#"><i class="fa-solid fa-house"></i>Home</a>
          </li>
          <li>
            <a href="#"><i class="fa-regular fa-bookmark"></i>Storage</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-blog"></i>Blog</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-calendar-days"></i>Freal events <span class="new-listing">4 new </span></a>
          </li>
          <li>
            <a href="#"><i class="fa-regular fa-newspaper"></i>News feed <span class="new-listing">4 new </span></a>
          </li>
        </ul>
      </div>
      <div class="post-comment__line"></div>
      <div class="upcoming-event">
        <span>Upcoming event <strong class="new-event">12</strong></span>
      </div>
      <div class="event-navigation">
        <ul>
          <li>
            <a href="#">
              <div class="event-date">20<br />Dec</div>
              <div class="event-details">
                <span class="event-name">Picnic</span>
                <span class="new-work">78k interested · 7.7k going</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="event-date">28<br />Jan</div>
              <div class="event-details">
                <span class="event-name">Explorative</span>
                <span class="new-work">31k interested · 7.7k going</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="event-date">12<br />Feb</div>
              <div class="event-details">
                <span class="event-name">Climbing</span>
                <span class="new-work">19k interested · 5.7k going</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="event-date">18<br />Mar</div>
              <div class="event-details">
                <span class="event-name">Cycling</span>
                <span class="new-work">28k interested · 1.7k going</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-container">
      <header class="navbar">
        <div class="navbar-left">
          <ul>
            <li>
              <a href="HomeFreal.html"><i href="HomeFreal.html" class="fa-solid fa-house"></i> Home</a>
            </li>
          </ul>
        </div>
        <div class="navbar-center">
          <ul>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Community feed</a></li>
            <li>
              <a href="#">Mutual friend <span></span></a>
            </li>
          </ul>
        </div>
        <div class="navbar-right">
          <ul>
            <li>
              <a class="navbar-right__item" href="#"><i class="fa-solid fa-comment-dots"></i></a>
            </li>
            <li>
              <a class="navbar-right__item" href="#"><i class="fa-solid fa-bell"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="profile-link">
                <span>AndyVu Coder</span>
                <img src="../../static/images/avata/avata1.jpg" alt="Profile" />
                <i class="fa-solid fa-circle-chevron-down"></i>
              </a>
              <ul class="dropdown-list__menu">
                <li><a href="#">Log out</a></li>
                <li><a href="#">Add account</a></li>
                <li><a href="#">Setting account</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </header>
      <div class="container-body">
        <main class="content">
          <div class="content-think">
            <div class="content-think__post">
              <img src="../../static/images/avata/avata1.jpg" alt="profile" />
              <input type="text" placeholder="What's on your mind?" data-toggle="modal" data-target="#thinkModal" />
            </div>
            <div class="content-think__actions">
              <ul class="think-item__right">
                <li>
                  <a href="#"><i class="fa-solid fa-camera"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-regular fa-image"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-location-dot"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-regular fa-face-smile"></i></a>
                </li>
              </ul>
              <ul class="think-item__left">
                <li>
                  <a class="think-item__left__pen" href="#"><i class="fa-regular fa-pen-to-square"></i> Draft</a>
                </li>
                <li><a class="think-item__left__post" href="#">Post</a></li>
              </ul>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="thinkModal" tabindex="-1" aria-labelledby="thinkModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="thinkModalLabel">Tạo bài viết</h5>
                  <div class="close-modal" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                  </div>
                </div>
                <div class="modal-line"></div>
                <div class="modal-body">
                  <div class="header-info">
                    <img class="info-picture" src="../../static/images/avata/avata1.jpg" alt="profile" />
                    <div class="modal-info">
                      <h3>AndyVu Coder</h3>
                      <span>Công khai</span>
                    </div>
                  </div>
                  <textarea class="form-control" placeholder="Vũ ơi, bạn đang nghĩ gì thế?" id="postText"></textarea>
                  <div id="imageUploadContainer" style="display: none">
                    <div class="image-preview" id="imagePreview">
                      <img src="" alt="Image Preview" class="image-preview__image" />
                      <span class="image-preview__default-text"><i class="fa-solid fa-folder-plus"></i>Add photos/videos or drag and drop</span>
                      <div class="close-image" data-dismiss="image" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="footer-actions">
                    <div class="footer-icons">
                      <ul class="footer-icons__group">
                        <li>
                          <a href="#" id="photoVideoButton"><i class="fa-regular fa-image"></i> Photos/Video</a>
                          <input type="file" id="imageUpload" accept="image/*" style="display: none" />
                        </li>
                        <li>
                          <a href="#"><i class="fa-solid fa-video"></i> Video trực tiếp</a>
                        </li>
                        <li>
                          <a href="#"><i class="fa-solid fa-location-dot"></i> Check in</a>
                        </li>
                        <li>
                          <a href="#"><i class="fa-regular fa-face-smile"></i> Cảm xúc</a>
                        </li>
                      </ul>
                    </div>
                    <div class="footer-post">
                      <a href="#">Post</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="content-post">
            <div class="content-post__header">
              <div class="header-info">
                <img src="../../static/images/avata/avata1.jpg" alt="Profile" />
                <div class="header-details">
                  <span class="header-name">AndyVu Coder</span>
                  <span class="header-time">3h · <i class="fa-solid fa-earth-americas"></i></span>
                </div>
              </div>
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="postOptionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="postOptionsDropdown">
                  <a class="dropdown-item" href="#">Save post</a>
                  <a class="dropdown-item" href="#">Edit post</a>
                  <a class="dropdown-item" href="#">Delete post</a>
                </div>
              </div>
            </div>
            <div class="content-post__body">
              <p>Hi there!</p>
              <p>I would like to know about others more than. Here’s a pic!</p>
              <img src="../../static/images/posts/post1.jpg" alt="Post image" />
            </div>
            <div class="content-post__footer">
              <div class="footer-info">
                <span class="footer-info__like">
                  <i class="fa-solid fa-thumbs-up"></i>
                  1k
                </span>
                <span class="footer-info__comments">278 Comments</span>
                <span class="footer-info__shares">108 Shares</span>
              </div>
              <div class="footer-actions">
                <ul>
                  <li>
                    <a href="#"><i class="fa-regular fa-thumbs-up"></i> Like</a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-regular fa-comment"></i> Comment</a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-solid fa-share"></i> Share</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </main>
        <div class="content-right">
          <div class="message-reminder">
            <div class="message-reminder__header">
              <h3>Reminders</h3>
              <a href="#">View all</a>
            </div>
            <div class="message-reminder__body">
              <ul>
                <li>
                  <a href="#">
                    <div class="reminder-profile">
                      <img src="../../static/images/avata/avata2.jpg" alt="Profile" />
                    </div>
                    <div class="reminder-details">
                      <span class="reminder-name">Michael</span>
                      <span class="reminder-message">Hey, how are you? How's the project coming along?</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="reminder-profile">
                      <img src="../../static/images/avata/avata3.jpg" alt="Profile" />
                    </div>
                    <div class="reminder-details">
                      <span class="reminder-name">Sophia</span>
                      <span class="reminder-message">Can we reschedule our meeting to tomorrow?</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="reminder-profile">
                      <img src="../../static/images/avata/avata4.jpg" alt="Profile" />
                    </div>
                    <div class="reminder-details">
                      <span class="reminder-name">Ethan</span>
                      <span class="reminder-message">Great job on the presentation!</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="event-highlight">
            <div class="event-highlight__header">
              <h3>Event Highlights</h3>
              <a href="#">View all</a>
            </div>
            <div class="event-highlight__body">
              <div class="highlight-item">
                <div class="highlight-date">
                  <span>20</span>
                  <span>Dec</span>
                </div>
                <div class="highlight-details">
                  <h4>Office Christmas Party</h4>
                  <p>Join us for a festive celebration with food, drinks, and fun activities. Don't forget to wear your ugliest Christmas sweater!</p>
                </div>
              </div>
              <div class="highlight-item">
                <div class="highlight-date">
                  <span>28</span>
                  <span>Jan</span>
                </div>
                <div class="highlight-details">
                  <h4>Annual Company Retreat</h4>
                  <p>Get ready for a weekend of team-building exercises, outdoor adventures, and relaxation at our annual company retreat.</p>
                </div>
              </div>
              <div class="highlight-item">
                <div class="highlight-date">
                  <span>12</span>
                  <span>Feb</span>
                </div>
                <div class="highlight-details">
                  <h4>Project Kickoff Meeting</h4>
                  <p>We will discuss the goals, timeline, and expectations for the new project. Your participation and input are crucial.</p>
                </div>
              </div>
              <div class="highlight-item">
                <div class="highlight-date">
                  <span>18</span>
                  <span>Mar</span>
                </div>
                <div class="highlight-details">
                  <h4>Spring Networking Event</h4>
                  <p>Meet and connect with professionals from various industries. Bring your business cards and be ready to expand your network.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="suggested-groups">
            <div class="suggested-groups__header">
              <h3>Suggested Groups</h3>
              <a href="#">View all</a>
            </div>
            <div class="suggested-groups__body">
              <div class="group-item">
                <img src="../../static/images/group1.jpg" alt="Group" />
                <div class="group-details">
                  <h4>Web Developers</h4>
                  <p>Join a community of web developers to share ideas, tips, and resources.</p>
                  <a href="#" class="group-join">Join</a>
                </div>
              </div>
              <div class="group-item">
                <img src="../../static/images/group2.jpg" alt="Group" />
                <div class="group-details">
                  <h4>Graphic Designers</h4>
                  <p>Connect with fellow graphic designers and showcase your work.</p>
                  <a href="#" class="group-join">Join</a>
                </div>
              </div>
              <div class="group-item">
                <img src="../../static/images/group3.jpg" alt="Group" />
                <div class="group-details">
                  <h4>Startup Entrepreneurs</h4>
                  <p>Network with startup founders and get advice on building and growing your business.</p>
                  <a href="#" class="group-join">Join</a>
                </div>
              </div>
              <div class="group-item">
                <img src="../../static/images/group4.jpg" alt="Group" />
                <div class="group-details">
                  <h4>Freelancers</h4>
                  <p>Share tips, find gigs, and collaborate with other freelancers.</p>
                  <a href="#" class="group-join">Join</a>
                </div>
              </div>
            </div>
          </div>
          <div class="latest-news">
            <div class="latest-news__header">
              <h3>Latest News</h3>
              <a href="#">View all</a>
            </div>
            <div class="latest-news__body">
              <div class="news-item">
                <img src="../../static/images/news1.jpg" alt="News" />
                <div class="news-details">
                  <h4>Tech Conference 2024</h4>
                  <p>Join the biggest tech conference of the year and stay updated with the latest trends and innovations in the tech industry.</p>
                </div>
              </div>
              <div class="news-item">
                <img src="../../static/images/news2.jpg" alt="News" />
                <div class="news-details">
                  <h4>AI Breakthroughs</h4>
                  <p>Discover the latest advancements in artificial intelligence and how they are transforming various industries.</p>
                </div>
              </div>
              <div class="news-item">
                <img src="../../static/images/news3.jpg" alt="News" />
                <div class="news-details">
                  <h4>Startup Success Stories</h4>
                  <p>Read inspiring success stories of startups that have made a significant impact in their respective fields.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="friends-list">
            <div class="friends-list__header">
              <h3>Friends List</h3>
              <a href="#">View all</a>
            </div>
            <div class="friends-list__body">
              <ul>
                <li>
                  <a href="#">
                    <div class="friend-profile">
                      <img src="../../static/images/avata/avata5.jpg" alt="Friend" />
                    </div>
                    <div class="friend-details">
                      <span class="friend-name">Emma</span>
                      <span class="friend-status">Online</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="friend-profile">
                      <img src="../../static/images/avata/avata6.jpg" alt="Friend" />
                    </div>
                    <div class="friend-details">
                      <span class="friend-name">Liam</span>
                      <span class="friend-status">Offline</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="friend-profile">
                      <img src="../../static/images/avata/avata7.jpg" alt="Friend" />
                    </div>
                    <div class="friend-details">
                      <span class="friend-name">Olivia</span>
                      <span class="friend-status">Online</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="friend-profile">
                      <img src="../../static/images/avata/avata8.jpg" alt="Friend" />
                    </div>
                    <div class="friend-details">
                      <span class="friend-name">Noah</span>
                      <span class="friend-status">Offline</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="friend-profile">
                      <img src="../../static/images/avata/avata9.jpg" alt="Friend" />
                    </div>
                    <div class="friend-details">
                      <span class="friend-name">Ava</span>
                      <span class="friend-status">Online</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-container">
        <div class="footer-links">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
        <div class="footer-copyright">
          <p>&copy; 2024 Your Website. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
