<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freal Home</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/vendor/font-awesome/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="../../static/vendor/font-awesome/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../static/js/jquery.dataTables.min.js" />
    <link rel="stylesheet" href="../../static/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Assets/css/toastr.min.css" />
    <script src="../../static/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/HomeFreal.main.css" />
    <!-- End layout styles -->
    <script src="https://kit.fontawesome.com/99cbdec5b3.js" crossorigin="anonymous"></script>
    <!-- shortcut -->
    <link rel="shortcut icon" href="../../static/images/logo.png" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo">
        <img src="../../static/images/logo.png" alt="Freal Logo" />
        <span>Freal</span>
      </div>
      <div class="search-bar">
        <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" placeholder="Explore Freal..." />
      </div>
      <div class="navigation">
        <ul>
          <li>
            <a href="#"><i class="fa-solid fa-house"></i>Home</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-blog"></i>Blog</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-calendar-days"></i>Freal events <span class="new-listing">4 new </span></a>
          </li>
          <li>
            <a href="#"><i class="fa-regular fa-newspaper"></i>News feed <span class="new-listing">4 new </span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-container">
      <header class="navbar">
        <div class="navbar-left">
          <ul>
            <li>
              <a href="HomeFreal.html"><i href="HomeFreal.html" class="fa-solid fa-house"></i> Home</a>
            </li>
          </ul>
        </div>
        <div class="navbar-center">
          <ul>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Community feed</a></li>
            <li>
              <a href="#">Mutual friend <span></span></a>
            </li>
          </ul>
        </div>
        <div class="navbar-right">
          <ul>
            <li>
              <a class="navbar-right__item" href="#"><i class="fa-solid fa-comment-dots"></i></a>
            </li>
            <li>
              <a class="navbar-right__item" href="#"><i class="fa-solid fa-bell"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="profile-link">
                <span>AndyVu Coder</span>
                <img src="../../static/images/avata/avata1.jpg" alt="Profile" />
                <i class="fa-solid fa-circle-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Log out</a></li>
                <li><a href="#">Add account</a></li>
                <li><a href="#">Setting account</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </header>
      <div class="container">
        <main class="content">
          <div class="content-think">
            <div class="content-think__post">
              <img src="../../static/images/avata/avata1.jpg" alt="profile" />
              <input type="text" placeholder="What's on your mind?" />
            </div>
            <div class="content-think__actions">
              <ul class="think-item__right">
                <li>
                  <a href="#"><i class="fa-solid fa-camera"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-regular fa-image"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-location-dot"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-regular fa-face-smile"></i></a>
                </li>
              </ul>
              <ul class="think-item__left">
                <li>
                  <a class="think-item__left__pen" href="#"><i class="fa-regular fa-pen-to-square"></i> Draft</a>
                </li>
                <li>
                  <a class="think-item__left__post" href="#">Post</a>
                </li>
              </ul>
            </div>
          </div>
          <section class="post">
            <div class="post-header">
              <img src="../../static/images/avata/avata1.jpg" alt="profile" />
              <div class="post-info">
                <h3>AndyVu Coder</h3>
                <span>12 minutes ago on <strong>3D Stock Contributor</strong></span>
              </div>
              <div class="post-item">
                <ul>
                  <li>
                    <a href="#"><i class="fa-regular fa-bookmark"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="post-content">
              <p>What is the reason guys yesterday I uploaded some kind of content they approved it but when today I tried to upload they say we no longer accept this type of content</p>
              <img src="../../static/images/background.avif" alt="post" />
            </div>
            <div class="post-actions">
              <ul>
                <li>
                  <a href="#"><i class="fa-regular fa-thumbs-up"></i>Liked post 1.7K</a>
                </li>
                <li>
                  <a href="#"><i class="fa-regular fa-comment"></i>Comment 45</a>
                </li>
                <li>
                  <a href="#"><i class="fa-regular fa-share-from-square"></i>Share 12</a>
                </li>
              </ul>
            </div>
            <div class="post-actions__line"></div>
            <div class="post-comment">
              <div class="content-think__comment">
                <img src="../../static/images/avata/avata1.jpg" alt="profile" />
                <input type="text" placeholder="What's on your mind?" />
                <ul>
                  <li>
                    <a href="#"><i class="fa-solid fa-camera"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-regular fa-image"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-regular fa-face-smile"></i></a>
                  </li>
                </ul>
              </div>
              <div class="comment-options">
                <div class="dropdown-comment">
                  <a href="#" class="select-item">
                    <span>All comments</span>
                    <i class="fa-solid fa-circle-chevron-down"></i>
                  </a>
                  <ul class="dropdown-menu__comment">
                    <li><a href="#">All Comments</a></li>
                    <li><a href="#">Latest comments</a></li>
                  </ul>
                </div>
                <span>Sort by: Most popular</span>
              </div>
              <div class="comment-list">
                <div class="comment">
                  <img src="../../static/images/avata/avata1.jpg" alt="comment-profile" />
                  <div class="comment-content">
                    <span>AndyVu Coder</span>
                    <p>People getting this type of rejection for AI images, or any images that contains ai generated content, but this is definitely not AI.</p>
                    <ul>
                      <li>
                        <a href="#"><i class="fa-solid fa-arrows-turn-right"></i>Reply comment 12</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="post-comment__line"></div>
              <div class="view-all-comment">
                <a href="#">View all comments</a>
              </div>
            </div>
          </section>
        </main>
        <aside class="trending">
          <h2>Today Trending</h2>
          <ul>
            <li>Figma maintenance</li>
            <li>Blender Update</li>
            <li>Slackoverflow server</li>
            <li>Javascript new</li>
          </ul>
          <div class="suggested-community">
            <h2>Suggested community</h2>
            <button>Join community</button>
          </div>
          <div class="friends-list">
            <h2>My friends</h2>
            <ul>
              <li>Ridwan Beler</li>
              <li>Maria Galau</li>
              <li>Chrish Bule</li>
              <li>Gerrald Kocak</li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/99cbdec5b3.js" crossorigin="anonymous"></script>
    <script src="../../static/js/script.js"></script>
  </body>
</html>
