<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freal Home</title>
    <!-- Bootstrap -->

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <link href="../../static/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/swiper-bundle.min.css" />

    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/vendor/font-awesome/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="../../static/vendor/font-awesome/css/vendor.bundle.base.css" />
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../static/js/jquery.dataTables.min.js" />
    <link rel="stylesheet" href="../../static/css/jquery-ui.min.css" />
    <script src="../../static/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/HomeFreal.main.css" />
    <!-- End layout styles -->
    <script src="https://kit.fontawesome.com/99cbdec5b3.js" crossorigin="anonymous"></script>
    <!-- shortcut -->
    <link rel="shortcut icon" href="../../static/images/logo.png" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo">
        <img src="../../static/images/logo.png" alt="Freal Logo" />
        <span>Freal</span>
      </div>
      <div class="search-bar">
        <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" placeholder="Explore Freal..." />
      </div>
      <div class="navigation">
        <ul>
          <li>
            <a href="#"><i class="fa-solid fa-house"></i>Home</a>
          </li>
          <li>
            <a href="#"><i class="fa-regular fa-bookmark"></i>Storage</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-blog"></i>Blog</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-calendar-days"></i>Freal events <span class="new-listing">4 new </span></a>
          </li>
          <li>
            <a href="#"><i class="fa-regular fa-newspaper"></i>News feed <span class="new-listing">4 new </span></a>
          </li>
        </ul>
      </div>
      <div class="post-comment__line"></div>
      <div class="upcoming-event">
        <span>Upcoming event <strong class="new-event">12</strong></span>
      </div>
      <div class="event-navigation">
        <ul>
          <li>
            <a href="#">
              <div class="event-date">20<br />Dec</div>
              <div class="event-details">
                <span class="event-name">Picnic</span>
                <span class="new-work">78k interested · 7.7k going</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="event-date">28<br />Jan</div>
              <div class="event-details">
                <span class="event-name">Explorative</span>
                <span class="new-work">31k interested · 7.7k going</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="event-date">12<br />Feb</div>
              <div class="event-details">
                <span class="event-name">Climbing</span>
                <span class="new-work">19k interested · 5.7k going</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="event-date">18<br />Mar</div>
              <div class="event-details">
                <span class="event-name">Cycling</span>
                <span class="new-work">28k interested · 1.7k going</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-container">
      <header class="navbar">
        <div class="navbar-left">
          <ul>
            <li>
              <a href="HomeFreal.html"><i href="HomeFreal.html" class="fa-solid fa-house"></i> Home</a>
            </li>
          </ul>
        </div>
        <div class="navbar-center">
          <ul>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Community feed</a></li>
            <li>
              <a href="#">Mutual friend <span></span></a>
            </li>
          </ul>
        </div>
        <div class="navbar-right">
          <ul>
            <li>
              <a class="navbar-right__item" href="#"><i class="fa-solid fa-comment-dots"></i></a>
            </li>
            <li>
              <a class="navbar-right__item" href="#"><i class="fa-solid fa-bell"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="profile-link">
                <span>AndyVu Coder</span>
                <img src="../../static/images/avata/avata1.jpg" alt="Profile" />
                <i class="fa-solid fa-circle-chevron-down"></i>
              </a>
              <ul class="dropdown-list__menu">
                <li><a href="#">Log out</a></li>
                <li><a href="#">Add account</a></li>
                <li><a href="#">Setting account</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </header>
      <div class="container-body">
        <main class="content">
          <div class="content-think">
            <div class="content-think__post">
              <img src="../../static/images/avata/avata1.jpg" alt="profile" />
              <input type="text" placeholder="What's on your mind?" data-toggle="modal" data-target="#thinkModal" />
            </div>
            <div class="content-think__actions">
              <ul class="think-item__right">
                <li>
                  <a href="#"><i class="fa-solid fa-camera"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-regular fa-image"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-location-dot"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-regular fa-face-smile"></i></a>
                </li>
              </ul>
              <ul class="think-item__left">
                <li>
                  <a class="think-item__left__pen" href="#"><i class="fa-regular fa-pen-to-square"></i> Draft</a>
                </li>
                <li><a class="think-item__left__post" href="#">Post</a></li>
              </ul>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="thinkModal" tabindex="-1" aria-labelledby="thinkModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="thinkModalLabel">Tạo bài viết</h5>
                  <div class="close-modal" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                  </div>
                </div>
                <div class="modal-line"></div>
                <div class="modal-body">
                  <div class="header-info">
                    <img class="info-picture" src="../../static/images/avata/avata1.jpg" alt="profile" />
                    <div class="modal-info">
                      <h3>AndyVu Coder</h3>
                      <span>Công khai</span>
                    </div>
                  </div>
                  <textarea class="form-control" placeholder="Vũ ơi, bạn đang nghĩ gì thế?" id="postText"></textarea>
                  <div id="imageUploadContainer" style="display: none">
                    <div class="image-preview" id="imagePreview">
                      <img src="" alt="Image Preview" class="image-preview__image" />
                      <span class="image-preview__default-text"><i class="fa-solid fa-folder-plus"></i>Add photos/videos or drag and drop</span>
                      <div class="close-image" data-dismiss="image" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                      </div>
                    </div>
                    <input type="file" id="imageUpload" accept="image/*" style="display: none" />
                    <label for="imageUpload" class="btn btn-upload">Chọn ảnh</label>
                  </div>
                  <div class="actions">
                    <a href="#" id="addImage"><i class="far fa-images"></i></a>
                    <a href="#"><i class="fas fa-font"></i></a>
                    <a href="#"><i class="fas fa-user-friends"></i></a>
                    <a href="#"><i class="far fa-smile"></i></a>
                    <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                    <a href="#"><i class="fas fa-paperclip"></i></a>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Post</button>
                </div>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="post-header">
              <img src="../../static/images/avata/avata1.jpg" alt="profile" />
              <div class="post-info">
                <h3>AndyVu Coder</h3>
                <span>12 minutes ago on <strong>3D Stock Contributor</strong></span>
              </div>
              <div class="post-item">
                <div class="save-item">
                  <a href="#"><i class="fa-regular fa-bookmark"></i></a>
                </div>
                <div class="post-heading__more">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                  <ul class="post-more__dropdown">
                    <li><a href="#">Edit post</a></li>
                    <li><a href="#">Delete post</a></li>
                    <li><a href="#">Save post</a></li>
                    <li><a href="#">Turn off notifications for this post</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Post section begin -->
            <div class="post-content">
              <p>What is the reason guys yesterday I uploaded some kind of content they approved it but when today I tried to upload they say we no longer accept this type of content</p>
              <img src="../../static/images/background.avif" alt="post" />
            </div>
            <div class="post-actions">
              <ul>
                <li>
                  <a id="likeButton" href="#" class="hover-action" data-action="like">
                    <i class="fa-regular fa-thumbs-up"></i>
                    <span>Like post </span>
                    <span class="count-number" id="likeCount">0</span>
                  </a>
                </li>
                <li>
                  <a id="commentButton" href="#" class="hover-action" data-action="comment">
                    <i class="fa-regular fa-comment"></i>
                    <span>Comment</span>
                    <span class="count-number" id="commentCount">0</span>
                  </a>
                </li>
                <li>
                  <a id="shareButton" href="#" class="hover-action" data-action="share">
                    <i class="fa-regular fa-share-from-square"></i>
                    <span>Share</span>
                    <span class="count-number" id="shareCount">0</span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="post-actions__line"></div>
            <div class="post-comment">
              <div class="content-think__comment">
                <img src="../../static/images/avata/avata1.jpg" alt="profile" />
                <textarea type="text" id="commentInput" placeholder="What's on your mind?"></textarea>
                <ul>
                  <li>
                    <a href="#"><i class="fa-solid fa-paper-plane" id="sendComment"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-solid fa-camera"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-regular fa-image"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-regular fa-face-smile"></i></a>
                  </li>
                </ul>
              </div>
              <div class="comment-options">
                <div class="dropdown-comment">
                  <a href="#" class="select-item">
                    <span>All comments</span>
                    <i class="fa-solid fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu__comment">
                    <li><a href="#">All Comments</a></li>
                    <li><a href="#">Latest comments</a></li>
                  </ul>
                </div>
                <span>Sort by: Most popular</span>
              </div>
              <div id="commentsSection" class="comment-list">
                <div class="comment">
                  <img src="../../static/images/avata/avata1.jpg" alt="comment-profile" />
                  <div class="comment-content">
                    <span>AndyVu Coder</span>
                    <p>People getting this type of rejection for AI images, or any images that contains ai generated content, but this is definitely not AI.</p>
                    <ul>
                      <li>
                        <a href="#"><i class="fa-solid fa-arrows-turn-right"></i>Reply comment 12</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="post-comment__line"></div>
              <div class="view-all-comment">
                <a href="#">View all comments</a>
              </div>
            </div>
          </div>
          <!-- Post section end -->
        </main>

        <div class="asider">
          <div class="asider-notification">
            <h2>
              Today Notification <a href="#"><i class="fa-solid fa-caret-down"></i></a>
            </h2>
            <ul>
              <li>
                <div class="notificate-details">
                  <span class="notificate-name">Figma maintenance <strong class="new-notificate">12 in 1 hour</strong></span>
                  <span class="new-detail">125 post today</span>
                </div>
              </li>
              <li>
                <div class="notificate-details">
                  <span class="notificate-name">Figma maintenance <strong class="new-notificate">4 in 1 hour</strong></span>
                  <span class="new-detail">25 post today</span>
                </div>
              </li>
              <li>
                <div class="notificate-details">
                  <span class="notificate-name">Figma maintenance <strong class="new-notificate">12 in 3 hour</strong></span>
                  <span class="new-detail">12 post today</span>
                </div>
              </li>
              <li>
                <div class="notificate-details">
                  <span class="notificate-name">Figma maintenance <strong class="new-notificate">2 in 2 hour</strong></span>
                  <span class="new-detail">120 post today</span>
                </div>
              </li>
              <li>
                <div class="notificate-details">
                  <span class="notificate-name">Figma maintenance <strong class="new-notificate">2 in 2 hour</strong></span>
                  <span class="new-detail">120 post today</span>
                </div>
              </li>
              <li>
                <div class="notificate-details">
                  <span class="notificate-name">Figma maintenance <strong class="new-notificate">2 in 2 hour</strong></span>
                  <span class="new-detail">120 post today</span>
                </div>
              </li>
              <li>
                <div class="notificate-details">
                  <span class="notificate-name">Figma maintenance <strong class="new-notificate">2 in 2 hour</strong></span>
                  <span class="new-detail">120 post today</span>
                </div>
              </li>
              <li>
                <div class="notificate-details">
                  <span class="notificate-name">Figma maintenance <strong class="new-notificate">2 in 2 hour</strong></span>
                  <span class="new-detail">120 post today</span>
                </div>
              </li>
            </ul>
            <span class="see">See all</span>
          </div>
          <div class="asider-friends">
            <h2>
              My friend <a href="#"><i class="fa-solid fa-caret-down"></i></a>
            </h2>
            <ul>
              <li>
                <div class="friend-details">
                  <span class="friend-name">Ngodatit213<strong class="new-notificate__friend">12 </strong></span>
                  <span class="new-detail__friend">Last active recently</span>
                </div>
              </li>
              <li>
                <div class="friend-details">
                  <span class="friend-name">CatTuong3<strong class="new-notificate__friend">5</strong></span>
                  <span class="new-detail__friend">Last active recently</span>
                </div>
              </li>
              <li>
                <div class="friend-details">
                  <span class="friend-name">Minhle_1<strong class="new-notificate__friend">7</strong></span>
                  <span class="new-detail__friend">Last active recently</span>
                </div>
              </li>
              <li>
                <div class="friend-details">
                  <span class="friend-name">Briget_129<strong class="new-notificate__friend">30</strong></span>
                  <span class="new-detail__friend">Last active recently</span>
                </div>
              </li>
              <li>
                <div class="friend-details">
                  <span class="friend-name">Figma maintenance<strong class="new-notificate__friend">11</strong></span>
                  <span class="new-detail__friend">Last active recently</span>
                </div>
              </li>
              <li>
                <div class="friend-details">
                  <span class="friend-name">Figma maintenance<strong class="new-notificate__friend">9</strong></span>
                  <span class="new-detail__friend">Last active recently</span>
                </div>
              </li>
              <li>
                <div class="friend-details">
                  <span class="friend-name">Figma maintenance<strong class="new-notificate__friend">5</strong></span>
                  <span class="new-detail__friend">Last active recently</span>
                </div>
              </li>
            </ul>
            <span class="view">View all</span>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const seeAllBtn = document.querySelector(".asider-notification .see");
        const notificationSection = document.querySelector(".asider-notification");

        seeAllBtn.addEventListener("click", function () {
          notificationSection.classList.toggle("expanded");
          seeAllBtn.textContent = notificationSection.classList.contains("expanded") ? "Show less" : "See all";
        });
      });
      // modal
      $(document).ready(function () {
        $("#thinkModal").on("shown.bs.modal", function () {
          $("#myInput").trigger("focus");
        });
      });
      document.addEventListener("DOMContentLoaded", function () {
        var textarea = document.getElementById("postText");

        textarea.addEventListener("input", function () {
          this.style.height = "auto";
          this.style.height = this.scrollHeight + "px";
        });
      });
      //Upload image
      document.addEventListener("DOMContentLoaded", function () {
        var textarea = document.getElementById("postText");
        var addImageBtn = document.getElementById("addImage");
        var imageUploadContainer = document.getElementById("imageUploadContainer");
        var imageUpload = document.getElementById("imageUpload");
        var imagePreview = document.getElementById("imagePreview");
        var imagePreviewImage = imagePreview.querySelector(".image-preview__image");
        var imagePreviewDefaultText = imagePreview.querySelector(".image-preview__default-text");
        var closeImageBtn = imagePreview.querySelector(".close-image");

        textarea.addEventListener("input", function () {
          this.style.height = "auto";
          this.style.height = this.scrollHeight + "px";
        });

        addImageBtn.addEventListener("click", function (e) {
          e.preventDefault();
          imageUploadContainer.style.display = "block";
        });

        imageUpload.addEventListener("change", function () {
          const file = this.files[0];
          if (file) {
            const reader = new FileReader();
            imagePreviewDefaultText.style.display = "none";
            imagePreviewImage.style.display = "block";
            reader.addEventListener("load", function () {
              imagePreviewImage.setAttribute("src", this.result);
            });
            reader.readAsDataURL(file);
          } else {
            imagePreviewDefaultText.style.display = null;
            imagePreviewImage.style.display = null;
            imagePreviewImage.setAttribute("src", "");
          }
        });

        closeImageBtn.addEventListener("click", function (e) {
          e.preventDefault();
          imagePreviewDefaultText.style.display = null;
          imagePreviewImage.style.display = "none";
          imagePreviewImage.setAttribute("src", "");
          imageUploadContainer.style.display = "none";
          imageUpload.value = "";
        });
      });
      //Like, comment, share
      document.addEventListener("DOMContentLoaded", function () {
        const commentButton = document.getElementById("commentButton");
        const commentCountElement = document.getElementById("commentCount");
        let commentCount = 0;
        const commentInput = document.getElementById("commentInput");
        const shareButton = document.getElementById("shareButton");
        const shareCountElement = document.getElementById("shareCount");
        let shareCount = 0;
        var likeButton = document.getElementById("likeButton");
        var likeCount = document.getElementById("likeCount");
        var isLiked = false;

        likeButton.addEventListener("click", function (event) {
          event.preventDefault();

          let likesCount = parseInt(likeCount.textContent) || 0;

          if (isLiked) {
            likesCount--;
            likeButton.classList.remove("active");
          } else {
            likesCount++;
            likeButton.classList.add("active");
          }

          likeCount.textContent = formatLikesCount(likesCount);
          isLiked = !isLiked;
        });

        function formatLikesCount(count) {
          return count >= 1000 ? (count / 1000).toFixed(1) + "K" : count.toString();
        }

        // Handle events for like, comment, share buttons
        document.querySelectorAll(".post-actions").forEach((button) => {
          button.addEventListener("click", function (e) {
            e.preventDefault();
            const actionType = this.getAttribute("data-action");

            switch (actionType) {
              case "like":
                handleLike(this);
                break;
              case "comment":
                handleComment(this);
                break;
              case "share":
                handleShare(this);
                break;
              default:
                console.error("Unknown action type:", actionType);
                break;
            }
          });
        });

        function handleLike(button) {
          let likeCountSpan = button.querySelector(".count-number");
          let likesCount = parseInt(likeCountSpan.textContent) || 0;

          if (button.classList.contains("active")) {
            likesCount--;
            button.classList.remove("active");
          } else {
            likesCount++;
            button.classList.add("active");
          }

          likeCountSpan.textContent = formatLikesCount(likesCount);
        }
        commentButton.addEventListener("click", function () {
          const commentInput = document.getElementById("commentInput");
          const commentText = commentInput.value.trim();
          if (commentText) {
            commentCount++;
            commentCountElement.textContent = commentCount;
            commentInput.value = "";

            // Add comment to the DOM
            const commentSection = document.querySelector(".content-post__comments");
            const newComment = document.createElement("div");
            newComment.classList.add("comment");
            newComment.innerHTML = `
            <img src="../../static/images/avata/avata1.jpg" alt="Commenter" />
            <div class="comment-body">
              <h5>AndyVu Coder</h5>
              <p>${commentText}</p>/ 
            </div>`;
            commentSection.insertBefore(newComment, commentSection.lastElementChild);
          }
        });

        function handleComment(button) {
          // Handle comment functionality here
          console.log("Comment button clicked");
        }
        document.getElementById("commentButton").addEventListener("click", function () {
          document.getElementById("commentInput").focus();
        });

        shareButton.addEventListener("click", function () {
          shareCount++;
          shareCountElement.textContent = shareCount;
          alert("Post shared successfully!");
        });
      });
      $(document).ready(function () {
        function addComment(text, isReply = false, parentElement = null) {
          const commentHtml = `
      <div class="comment">
        <img src="../../static/images/avata/avata1.jpg" alt="comment-profile" />
        <div class="comment-content">
          <span>AndyVu Coder</span>
          <p>${text}</p>
          <ul>
            <li>
              <a href="#" class="reply-btn"><i class="fa-solid fa-arrows-turn-right"></i>Reply comment </a>
            </li>
          </ul>
          <div class="replies"></div>
        </div>
      </div>
    `;

          if (isReply) {
            $(parentElement).find(".replies").first().append(commentHtml);
          } else {
            $("#commentsSection").append(commentHtml);
          }
        }

        function handleCommentInput(event) {
          if (event.type === "keypress" && event.which !== 13) return;

          const commentText = $("#commentInput").val();
          if (commentText) {
            addComment(commentText);
            $("#commentInput").val("");
          }
        }

        $("#commentInput").keypress(handleCommentInput);
        $("#sendComment").click(handleCommentInput);

        $(document).on("click", ".reply-btn", function () {
          const parentComment = $(this).closest(".comment");
          if (!parentComment.find(".reply-comment").length) {
            const replyInputHtml = `
        <div class="reply-comment">
          <img src="../../static/images/avata/avata1.jpg" alt="profile" />
          <textarea type="text" class="reply-text" placeholder="Trả lời..."></textarea>
          <ul>
            <li><a href="#" class="send-reply"><i class="fa-solid fa-paper-plane"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-camera"></i></a></li>
            <li><a href="#"><i class="fa-regular fa-image"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-paperclip"></i></a></li>
            <li><a href="#"><i class="fa-regular fa-face-smile"></i></a></li>
          </ul>
        </div>
      `;
            parentComment.append(replyInputHtml);
            parentComment.find(".reply-text").focus(); // Focus on reply textarea
          }
        });

        $(document).on("click", ".send-reply", function () {
          const replyText = $(this).closest(".reply-comment").find(".reply-text").val().trim();
          if (replyText) {
            addComment(replyText, true, $(this).closest(".comment"));
            $(this).closest(".reply-comment").remove();
          }
        });

        $(document).on("keypress", ".reply-text", function (event) {
          if (event.which === 13) {
            event.preventDefault();
            $(this).closest(".reply-comment").find(".send-reply").click();
          }
        });
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/99cbdec5b3.js" crossorigin="anonymous"></script>
    <script src="../../static/js/script.js"></script>
  </body>
</html>
