/*----------------------------------------*/
/* 1.1. google fonts
/*----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --grey-color-font: #afb1b4;
  --white-color-font: #fff;
  --bg-color-nav-sider: #1e1f24;
  --bg-input-color-line: #27292f;
  --bg-color-hover: #33353d;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #17181c;
  color: #ffffff;
  overflow-x: hidden;
}
/*----------------------------------------*/
/* Sidebar begin 
/*----------------------------------------*/
.sidebar {
  width: 280px;
  z-index: 1000;
  background-color: var(--bg-color-nav-sider);
  padding: 15px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--bg-input-color-line);
  overflow-y: auto; /* Enable vertical scrolling */
  transition: width 0.3s ease;
}
.sidebar.collapsed {
  width: 70px; /* Độ rộng của sidebar khi bị thu nhỏ */
}

/*----------------------------------------*/
/* Customize scrollbar 
/*----------------------------------------*/

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-track {
  background: var(--bg-color-nav-sider);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--bg-input-color-line);
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color-hover);
}
.sidebar .logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar .logo img {
  width: 60px;
  height: 50px;
  margin-right: 10px;
}

.sidebar .logo span {
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold !important;
  background: linear-gradient(10deg, rgba(231, 45, 174, 1) 30%, rgba(113, 187, 239, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar .search-bar {
  margin-bottom: 20px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.search-bar .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar i.fa-magnifying-glass {
  color: var(--grey-color-font);
  font-size: 16px;
}

.search-bar input {
  width: calc(100% - 20px);
  padding: 10px 35px 10px 25px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg-input-color-line);
  color: var(--white-color-font);
  font-size: 14px;
  margin-left: 6px;
}

.search-bar input:focus {
  outline: none;
  box-shadow: 0 0 5px var(--white-color-font);
}

.sidebar .navigation ul {
  list-style: none;
  padding: 0;
}

.sidebar .navigation ul li {
  margin: 15px 0;
}

.sidebar .navigation ul li a {
  color: var(--grey-color-font);
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s;
}

.sidebar .navigation ul li a i {
  margin-right: 10px;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a.active {
  background-color: var(--bg-color-hover);
  color: var(--white-color-font);
}

.sidebar .navigation ul li a:hover i,
.sidebar .navigation ul li a.active i {
  color: var(--white-color-font);
}

.new-listing {
  background-color: var(--bg-input-color-line);
  color: var(--grey-color-font);
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  margin-left: auto;
}

/*----------------------------------------*/
/*Event begin 
/*----------------------------------------*/

.sidebar .upcoming-event {
  font-size: 16px;
  color: var(--white-color-font);
  margin-bottom: 10px;
}

.new-event {
  background-color: var(--bg-input-color-line);
  color: var(--grey-color-font);
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  margin-left: 10px;
}

.sidebar .event-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .event-navigation ul li {
  margin-bottom: 15px;
}

.sidebar .event-navigation ul li a {
  color: var(--grey-color-font);
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s;
  background-color: var(--bg-color-nav-sider);
}

.sidebar .event-navigation ul li a:hover {
  background-color: var(--bg-color-hover);
  color: var(--white-color-font);
}

.sidebar .event-navigation ul li a .event-date {
  background-color: var(--bg-input-color-line);
  color: var(--white-color-font);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 1.2;
}

.sidebar .event-navigation ul li a .event-details {
  display: flex;
  flex-direction: column;
}

.sidebar .event-navigation ul li a .event-name {
  font-size: 14px;
  color: var(--white-color-font);
}

.sidebar .event-navigation ul li a .new-work {
  font-size: 12px;
  color: var(--grey-color-font);
}

/*----------------------------------------*/
/* End of styles
/*----------------------------------------*/
/*----------------------------------------*/
/* Sidebar end
/*----------------------------------------*/

.main-container {
  margin-left: 250px; /* Độ rộng của sidebar */
  width: calc(100% - 250px); /* Phần còn lại của chiều rộng */
  transition: margin-left 0.3s ease;
}
.main-container.collapsed {
  margin-left: 70px; /* Khoảng cách từ bên trái của main content đến sidebar khi sidebar bị thu nhỏ */
}

/*----------------------------------------*/
/* Navbar 
/*----------------------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--bg-color-nav-sider);
  border-bottom: 1px solid var(--bg-input-color-line);
  border-left: 1px solid var(--bg-input-color-line);
}

.navbar-left ul {
  display: flex;
  list-style: none;
}

.navbar-left ul li {
  margin: 0 10px;
}

.navbar-left ul li a {
  color: var(--white-color-font);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: 20px;
}

.navbar-left ul li a i {
  margin-right: 20px;
}
.navbar-center {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  background-color: var(--bg-input-color-line);
  border: 1px solid var(--bg-input-color-line);
  border-radius: 10px;
}

.navbar-center ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.navbar-center ul li {
  margin: 0 10px;
}

.navbar-center ul li a {
  color: var(--grey-color-font);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Add border-radius */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

.navbar-center ul li a:hover,
.navbar-center ul li a:focus {
  background-color: var(--bg-color-hover); /* Change background color on hover or focus */
  color: var(--white-color-font); /* Change text color on hover or focus */
}
.navbar-right {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.navbar-right ul {
  list-style: none;
  display: flex;
}
.navbar-right ul li {
  margin: 0 10px;
  position: relative; /* Để định vị dropdown menu */
}
.navbar-right ul li a {
  color: var(--white-color-font);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.navbar-right ul li a i {
  font-size: 20px;
}
.navbar-right__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--bg-input-color-line);
}
.navbar-right .profile-link {
  display: flex;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
}

.navbar-right .profile-link img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.navbar-right .profile-link span {
  max-width: 50px;
  margin-right: 5px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

/*----------------------------------------*/
/* Thêm CSS cho icon 
/*----------------------------------------*/

.navbar-right .profile-link i.fa-circle-chevron-down {
  color: var(--white-color-font);
  font-size: 20px;
  margin: 20px 0 0 -20px; /* Điều chỉnh vị trí icon */
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown span {
  font-size: 14px;
  color: var(--white-color-font);
  display: inline-block;
  margin-right: 4px;
}

.dropdown ul {
  background: var(--bg-input-color-line);
  width: 170px;
  text-align: left;
  padding: 5px 0;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.dropdown ul li {
  list-style: none;
}

.dropdown ul li a {
  font-size: 14px;
  color: var(--white-color-font);
  padding: 5px 10px;
  display: block;
  width: 100%;
}

/*----------------------------------------*/
/* Dropdown menu styles 
/*----------------------------------------*/

.dropdown-list__menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--bg-input-color-line);
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;
}
.dropdown-list__menu li {
  width: 100%; /* Đảm bảo chiều rộng của li là 100% của ul */
}
.dropdown-list__menu li a {
  display: block;
  padding: 10px;
  color: var(--white-color-font);
  text-decoration: none;
  width: 100%;
}

.dropdown-list__menu li a:hover {
  background-color: var(--bg-color-hover);
  width: 150px; /* Đảm bảo chiều rộng của li là 100% của ul khi hover */
}

/*----------------------------------------*/
/* Show dropdown on hover
/*----------------------------------------*/

.dropdown:hover .dropdown-list__menu {
  display: block;
  opacity: 1;
  visibility: visible;
}
/*----------------------------------------*/
/* Navbar end
/*----------------------------------------*/

.container-body {
  display: flex;
  padding: 30px;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
/*----------------------------------------*/
/* Header-content-think 
/*----------------------------------------*/

.content-think {
  background-color: var(--bg-color-nav-sider);
  border-radius: 10px;
  border: 1px solid var(--bg-input-color-line);
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Thay đổi flex-direction để các phần tử con xếp theo cột dọc */
  align-items: flex-start; /* Căn chỉnh các phần tử con theo chiều ngang */
}
.hidden {
  display: none;
}

.content-think__post {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0px 20px 0px;
}

.content-think__post img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.content-think__post input[type="text"] {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 30px;
  color: var(--white-color-font);
  background-color: var(--bg-input-color-line);
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.content-think__actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.think-item__right,
.think-item__left {
  list-style: none;
  display: flex;
  align-items: center;
}

.think-item__right li,
.think-item__left li {
  margin: 0 5px;
}

.think-item__right a,
.think-item__left a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.think-item__right i {
  margin-left: 10px;
  font-size: 20px;
  color: var(--grey-color-font);
}

.think-item__left__pen {
  color: var(--grey-color-font);
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.think-item__left__pen i {
  margin-right: 5px;
}

.think-item__left__post {
  background-color: var(--bg-input-color-line);
  padding: 8px 35px;
  border-radius: 5px;
  border: 1px solid var(--bg-input-color-line);
  text-decoration: none;
  color: var(--grey-color-font);
}

.think-item__left__post:hover {
  background-color: var(--bg-color-hover);
  color: var(--white-color-font);
}
.think-item__left__pen:hover {
  color: var(--white-color-font);
}
.think-item__right i:hover,
.think-item__left i:hover {
  color: var(--white-color-font);
}
/*----------------------------------------*/
/* Header-content-think end
/*----------------------------------------*/

/*----------------------------------------*/
/* Modal-content-think 
/*----------------------------------------*/

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
}

.modal-line {
  border: 1px solid var(--bg-input-color-line);
  margin-bottom: 5px;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: var(--bg-color-nav-sider);
  background-clip: padding-box;
  border: 1px solid var(--bg-input-color-line);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-title {
  display: block;
  margin-bottom: 0;
  line-height: 1.5;
}
.close-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-input-color-line);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
.modal-header .close-modal {
  margin: 0;
  font-size: 1.5rem;
  color: var(--grey-color-font);
}

.close-modal:hover {
  color: var(--white-color-font);
  background-color: var(--bg-color-hover);
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 10px;
}
.modal-body .header-info {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}
.modal-body .info-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/*----------------------------------------*/
/* Post info container
/*----------------------------------------*/

.modal-body .modal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  margin-right: auto; /* Adjust margin as needed */
}

.modal-body .modal-info h3 {
  margin: 0;
  font-size: 16px;
  text-align: center;
  color: var(--white-color-font);
}

.modal-body .modal-info span {
  font-size: 12px;
  color: var(--grey-color-font);
}

.modal-body textarea {
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 1rem;
}

.form-control,
textarea {
  display: block;
  width: 100%;
  height: auto;
  min-height: 50px;
  overflow-y: hidden;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--grey-color-font);
  background-color: var(--bg-color-nav-sider);
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: none !important; /* Remove the default border */
  resize: vertical; /* Allow vertical resizing */
}

.form-control:focus {
  color: var(--grey-color-font);
  background-color: var(--bg-color-nav-sider);
  border-color: var(--bg-color-nav-sider);
  outline: none;
}

.modal-body .actions {
  display: flex;
  border: none;
  outline: none;
  justify-content: space-evenly;
  width: 100%;
}

.modal-body .actions a {
  padding: 5px;
  text-decoration: none;
  color: var(--grey-color-font);
  font-size: 1.25rem;
  transition: font-size 0.15s ease-in-out, color 0.15s ease-in-out;
}
.modal-body .actions a:hover {
  font-size: 1.5rem;
  color: var(--white-color-font);
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  border-top: none;
  padding: 0 2rem 2rem;
}

.modal-footer .btn {
  padding: 0.5rem 2rem;
  width: 100%;
  max-width: 50rem;
}
/*----------------------------------------*/
/* Adjust modal-dialog to expand with content 
/*----------------------------------------*/

.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 600px; /* You can adjust the max-width as needed */
  margin: 30px auto; /* Center the modal vertically with some margin */
}

.modal-content {
  width: 100%;
  height: auto;
}
/*----------------------------------------*/
/* Additional styles for the image upload preview 
/*----------------------------------------*/
.image-preview {
  width: 100%;
  min-width: 565px;
  min-height: 200px;
  border: 2px solid var(--bg-input-color-line);
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  position: relative;
}

.image-preview__image {
  border-radius: 10px;
  display: none;
  width: 100%;
}

.image-preview__default-text {
  position: absolute;
  color: var(--grey-color-font);
}

.image-preview .fa-folder-plus {
  font-size: 40px;
  padding: 10px;
}
/*----------------------------------------*/
/* Close image button
/*----------------------------------------*/

.close-image {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--bg-input-color-line);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.image-preview .close-image {
  margin: 0;
  font-size: 1.5rem;
  color: var(--grey-color-font);
}

.close-image:hover {
  background-color: var(--bg-color-hover);
  color: var(--white-color-font);
  cursor: pointer;
}
.btn-upload {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-weight: 400;
  color: var(--grey-color-font);
  background-color: var(--bg-color-nav-sider);
  border: 1px solid var(--bg-input-color-line);
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
}

.btn-upload:hover {
  color: var(--white-color-font);
  background-color: var(--bg-color-hover);
}
/*----------------------------------------*/
/* Modal-content-think end 
/*----------------------------------------*/

/*----------------------------------------*/
/* Post Section 
/*----------------------------------------*/
.post {
  background-color: var(--bg-color-nav-sider);
  padding: 20px;
  border: 1px solid var(--bg-input-color-line);
  border-radius: 10px;
  margin-bottom: 20px;
  color: var(--white-color-font);
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/*----------------------------------------*/
/* Post info container
/*----------------------------------------*/
.post-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  margin-right: auto; /* Adjust margin as needed */
}
.post-info h3 {
  margin: 0;
  font-size: 16px;
  color: var(--white-color-font);
}

.post-info span {
  font-size: 12px;
  color: var(--grey-color-font);
}

.post-item ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.post-item ul li a {
  color: var(--grey-color-font);
}

.post-item ul li a:hover {
  color: var(--white-color-font);
}

.post-content p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
}

.post-content img {
  width: 100%;
  border-radius: 10px;
}
.post-actions {
  margin-bottom: 20px;
}
.post-actions ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  margin: 15px 40px 0 40px;
}

.post-actions ul li a {
  color: var(--grey-color-font);
  text-decoration: none;
  display: flex;
  align-items: center;
}
/* Add this to your CSS file */
/* Định dạng cho nút like */
.hover-action {
  text-decoration: none;
  color: var(--grey-color-font);
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.hover-action.active {
  color: #00aaff;
  border-color: #00aaff;
}

.hover-action:hover {
  color: #00aaff;
  background-color: var(--bg-color-hover);
}
.count-number {
  padding: 10px;
}
.post-actions ul li a i {
  margin-right: 5px;
}

.post-actions ul li a:hover {
  color: #00aaff;
}
.post-actions__line {
  border: 1px solid var(--bg-input-color-line);
}

.post-comment {
  margin-top: 20px;
}

.content-think__comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.content-think__comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.content-think__comment input[type="text"] {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 25px;
  color: var(--white-color-font);
  background-color: var(--bg-input-color-line);
  font-size: 16px;
  outline: none;
  margin-right: -42px;
}

.content-think__comment ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: -100px;
  margin-bottom: 0;
}

.content-think__comment ul li {
  margin: 0 10px;
}

.content-think__comment ul li a {
  color: var(--grey-color-font);
  font-size: 16px;
  text-decoration: none;
}

.content-think__comment ul li a:hover {
  color: var(--white-color-font);
}

.comment-options {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  color: var(--grey-color-font);
}

/*----------------------------------------*/
/* Thêm CSS cho icon 
/*----------------------------------------*/
.comment-options .dropdown-comment i.fa-circle-chevron-down {
  color: var(--white-color-font);
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
}

.dropdown-comment {
  position: relative;
  display: inline-block;
}

.dropdown-comment .select-item {
  display: flex;
  align-items: center;
  color: var(--white-color-font);
  text-decoration: none;
  cursor: pointer;
}

.dropdown-comment .select-item span {
  margin-right: 5px;
}

.dropdown-comment .dropdown-menu__comment {
  background: var(--bg-input-color-line);
  width: 170px;
  text-align: left;
  padding: 5px 10px;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  border-radius: 5px;
}

.dropdown-comment .dropdown-menu__comment li {
  list-style: none;
}

.dropdown-comment .dropdown-menu__comment li a {
  font-size: 14px;
  color: var(--white-color-font);
  padding: 10px;
  display: block;
  text-decoration: none;
  width: 100%;
}

.dropdown-comment .dropdown-menu__comment li a:hover {
  background-color: var(--bg-color-hover);
}

/*----------------------------------------*/
/* Show dropdown on hover
/*----------------------------------------*/
.dropdown-comment:hover .dropdown-menu__comment {
  display: block;
  opacity: 1;
  visibility: visible;
}
.comment-list {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--bg-color-nav-sider);
  border-radius: 10px;
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 10px;
}

.comment img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content {
  flex: 1;
}

.comment-content span {
  font-weight: bold;
  color: var(--white-color-font);
}

.comment-content p {
  margin: 5px 0;
  color: var(--grey-color-font);
}

.comment-content ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 5px 0 0;
  gap: 10px;
}

.comment-content ul li a {
  color: var(--white-color-font);
  text-decoration: none;
  font-size: 12px;
}

.comment-content ul li a:hover {
  color: var(--white-color-font);
}
.comment-list .comment-content i.fa-arrows-turn-right {
  color: var(--white-color-font);
  font-size: 16px;
  margin: 0px 10px 0 0px;
  cursor: pointer;
}

.view-all-comment {
  text-align: center;
  margin-top: 20px;
}
.post-comment__line {
  margin-top: 20px;
  border: 1px solid var(--bg-input-color-line);
  margin-bottom: 20px;
}
.view-all-comment a {
  color: #00aaff;
  text-decoration: none;
}

.view-all-comment a:hover {
  color: var(--white-color-font);
}

/*----------------------------------------*/
/* Post section end
/*----------------------------------------*/

/*----------------------------------------*/
/* Aside container 
/*----------------------------------------*/
.asider {
  padding: 10px;
  overflow-y: auto;
  width: 380px; /* Set the width of the asider */
}

/*----------------------------------------*/
/* List styles */
/*----------------------------------------*/
.asider ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*----------------------------------------*/
/* Section headers */
/*----------------------------------------*/
.asider h2 {
  display: flex;
  justify-content: space-around;
  color: var(--white-color-font);
  margin-bottom: 10px;
  padding: 15px 0px;
  font-size: 16px;
}
.asider ul li {
  color: var(--grey-color-font);
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s;
}

.asider ul li:hover {
  background-color: var(--bg-color-hover);
  color: var(--white-color-font);
}

/*----------------------------------------*/
/* Notification section */
/*----------------------------------------*/
.asider-notification {
  background-color: var(--bg-color-nav-sider);
  border: 1px solid var(--bg-input-color-line);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow-y: hidden; /* Initially hide the scrollbar */
  position: relative;
  transition: max-height 0.5s ease;
  max-width: 400px;
}
.asider-notification .expanded {
  max-height: 900px; /* Remove the height limit when expanded */
  overflow-y: auto;
}

.asider-notification a i {
  margin-left: 10px;
  color: var(--white-color-font);
  font-size: 20px;
}
/*----------------------------------------*/
/* Notification details */
/*----------------------------------------*/
.notificate-details {
  padding: 10px;
  border-bottom: 1px solid var(--bg-input-color-line);
  transition: background-color 0.3s;
}

.notificate-details:last-child {
  border-bottom: none; /* Remove border for the last item */
}

.notificate-details:hover {
  background-color: var(--bg-color-hover);
}
/*----------------------------------------*/
/* Aligning notificate-name and new-notificate */
/*----------------------------------------*/
.notificate-name {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--white-color-font);
}

.new-notificate {
  background-color: var(--bg-input-color-line);
  color: var(--grey-color-font);
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  margin-left: 10px;
}

.new-detail {
  display: block;
  color: var(--grey-color-font);
  font-size: 14px;
  margin-top: 5px;
}
/*----------------------------------------*/
/* See all link */
/*----------------------------------------*/
.asider-notification .see {
  display: block;
  margin-top: 20px;
  color: #00aaff;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s;
}
.asider-notification .see:hover {
  color: var(--white-color-font);
}

/*------------------------- */
/* Friend  */
/* ------------------------ */
.asider-friends {
  background-color: var(--bg-color-nav-sider);
  border: 1px solid var(--bg-input-color-line);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow-y: hidden; /* Initially hide the scrollbar */
  position: relative;
  transition: max-height 0.5s ease;
  max-width: 400px;
}
.asider-friends.expanded {
  max-height: 900px; /* Remove the height limit when expanded */
  overflow-y: auto;
}

.asider-friends a i {
  margin-left: 10px;
  color: var(--white-color-font);
  font-size: 20px;
}
/*----------------------------------------*/
/* Notification details */
/*----------------------------------------*/
.friend-details {
  padding: 10px;
  border-bottom: 1px solid var(--bg-input-color-line);
  transition: background-color 0.3s;
}

.friend-details:last-child {
  border-bottom: none; /* Remove border for the last item */
}

.friend-details:hover {
  background-color: var(--bg-color-hover);
}
/*----------------------------------------*/
/* Aligning notificate-name and new-notificate */
/*----------------------------------------*/
.friend-name {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--white-color-font);
}

.new-notificate__friend {
  background-color: var(--bg-input-color-line);
  color: var(--grey-color-font);
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  flex-direction: column;
  align-items: flex-end; /* Align items to the start (left) */
  margin-left: auto; /* Adjust margin as needed */
}

.new-detail__friend {
  display: block;
  color: var(--grey-color-font);
  font-size: 14px;
  margin-top: 5px;
}
/*----------------------------------------*/
/* See all link */
/*----------------------------------------*/
.asider-friends .view {
  display: block;
  margin-top: 20px;
  color: #00aaff;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s;
}
.asider-friends .view:hover {
  color: var(--white-color-font);
}
/*----------------------------------------*/
/* Friend section end */
/*----------------------------------------*/

/*----------------------------------------*/
/* Custom scrollbar styles */
/*----------------------------------------*/

.asider-notification ul,
.asider-friends ul {
  max-height: 550px; /* Adjust this height as needed */
  overflow-y: auto;
  padding-right: 10px; /* Add padding to avoid scrollbar overlap */
}

.asider-notification ul::-webkit-scrollbar,
.asider-friends ul::-webkit-scrollbar {
  width: 8px;
}

.asider-notification ul::-webkit-scrollbar-thumb,
.asider-friends ul::-webkit-scrollbar-thumb {
  background-color: var(--bg-input-color-line);
  cursor: pointer;
  border-radius: 4px;
}

.asider-notification ul::-webkit-scrollbar-thumb:hover,
.asider-friends ul::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-color-hover);
}

.asider-notification ul::-webkit-scrollbar-track,
.asider-friends ul::-webkit-scrollbar-track {
  background-color: var(--bg-color-nav-sider);
}
/*----------------------------------------*/
/* Custom scrollbar styles end */
/*----------------------------------------*/

/*----------------------------------------*/
/* Travel section begin */
/*----------------------------------------*/
.container {
  padding: 20px;
}

.section-title {
  color: var(--grey-color-font);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.nav-tabs {
  border: none;
  margin-bottom: 30px;
}
.nav-tabs .nav-link {
  font-weight: bold;
  color: var(--grey-color-font);
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.nav-tabs .nav-link.active {
  color: var(--bg-color-nav-sider);
  font-weight: bold;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: var(--bg-color-hover);
  color: var(--white-color-font);
  border-radius: 5px;
}

.nav-tabs .see-all {
  font-weight: normal;
  color: #007bff;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--bg-input-color-line);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.card-deck .card {
  min-width: 200px;
  border-radius: 20px;
  border: none;
}

.card-img-top {
  height: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.card-text .rating {
  color: #ffc107;
}

.calendar {
  text-align: center;
}

.month-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.table .selected {
  background-color: #d1e7dd;
  color: #000;
}

.best-resorts .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.resort-details {
  display: flex;
  flex-direction: column;
}

.resort-name {
  font-weight: bold;
}

.resort-location {
  color: gray;
  font-size: 14px;
}

.badge-primary {
  background-color: #007bff;
  font-size: 14px;
}

.row.mt-5 {
  display: flex;
  justify-content: space-between;
}

/*----------------------------------------*/
/* Travel section end */
/*----------------------------------------*/
